<p>lista-empleados works!</p>
<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>Turner</td>
        <td>def&#64;somemail.com</td>
      </tr>      
      <tr class="table-primary">
        <td>Primary</td>
        <td>Joe</td>
        <td>Smith</td>
        <td>joe&#64;example.com</td>
      </tr>
      <tr class="table-success">
        <td>Success</td>
        <td>Doe</td>
        <td>Jhonson</td>
        <td>john&#64;example.com</td>
      </tr>
      <tr class="table-danger">
        <td>Yvette</td>
        <td>Rincon</td>
        <td>Torres</td>
        <td>yvettert123&#64;gmail.com</td>
      </tr>
      <tr class="table-info">
        <td>Info</td>
        <td>Dooley</td>
        <td>Jason</td>
        <td>july&#64;example.com</td>
      </tr>
      <tr class="table-warning">
        <td>Warning</td>
        <td>Refs</td>
        <td>Brown</td>
        <td>bo&#64;example.com</td>
      </tr>
      <tr class="table-active">
        <td>Active</td>
        <td>Activeson</td>
        <td>Johanson</td>
        <td>act&#64;example.com</td>
      </tr>
    </tbody>
  </table>